/* CSS For Odin Landing Page */

/* Attatchments */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



/* Root */


:root {
    --PrimaryColor1: #1f2937;
    --PrimaryColor2: #e5e7eb;
    --PrimaryColor3: #3882f6;
}


/* General CSS */

* {
    margin: 0 0px;
    padding: 0 0px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
}
/* Navigation Bar*/


.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    background: var(--PrimaryColor1);
    height: 70px;
}

.navbar .container a {
    text-decoration: none;
    color: var(--PrimaryColor2);
 
}

.navbar .container ul a:hover {
    color: var(--PrimaryColor3);
}

.navbar .container ul {
    list-style: none;
    display: flex;
}

