/* CSS For Odin Landing Page */

/* Attatchments */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');





/* Root */


:root {
    --PrimaryColor1: #1f2937;
    --PrimaryColor2: #e5e7eb;
    --PrimaryColor3: #3882f6;
}





/* General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
}


img {
    max-height: 100%;
    width: auto;
}





/* Group Selectors*/

.navbar,
.header {
    background-color: var(--PrimaryColor1);
    color: var(--PrimaryColor2);
}







/* Navigation Bar*/

.navbar {
    height: 80px;
}

.navbar .container {
    max-width: 70vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
/*
    border-style: solid;
    border-color: #fff;
*/
}

.navbar a {
    text-decoration: none;  
    color: var(--PrimaryColor2);
}

.navbar .container ul {
    display: flex;
    list-style-type: none;
    width: 450px;
    font-size: large;
    justify-content: space-between;
    /*
    border-style: solid;
    border-color: #fff;
    */  
}

.navbar .container ul li {
    padding: 10px 10px 10px 10px;
    /*
    border-style: solid;
    border-color: #fff;
    */
}

.navbar .container ul li:hover {
    color: var(--PrimaryColor3);
    border-style: solid;
    border: 0px 0px 0px 0px;
    border-width: 0px 0px 3px 0px;
    border-radius: 5px;
    border-color: var(--PrimaryColor2);
    background-color: var(--PrimaryColor3);
}

.navbar .container .logo {
    font-size: x-large;
    font-weight: 900;
    width: 200px;
    /*
    border-style: solid;
    border-color: #fff;
    */
}



@media(max-width: 0px) {
    .navbar .container {
         max-width: 80vmax;
    }
}


/* Header Base Elements */



.hero a {
    text-decoration: none;  
    color: var(--PrimaryColor2);
    background: var(--PrimaryColor3);
}

.hero a:hover {
    color: var(--PrimaryColor3);
    background-color: var(--PrimaryColor2);
}


.hero .button {
    /*
    border-style: solid;
    border-color: #fff;
    */

    font-size: small;
    font-weight: 600;

    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}



/* Header CSS Smaller screens */


/* Header CSS   */




@media(min-width: 0px) {


    .header {
        height: 100vmin;
    }


    .header .container {
        /*
        border-style: solid;
        border-color: var(--PrimaryColor2);
        */
        max-width: 80vmax;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }

    .header .container img {
        height: auto;
        width: 79vmax;
        border-style: solid;
        border-color: var(--PrimaryColor2);
        border-radius: 5px;
    }

    .header .container .hero {
        /*border-style: solid;
        border-color: #e5e7eb;*/
        
        height: 25vmax;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .hero h1 {
        margin: 20px 0px 10px 0px;
        /*border-style: solid;
        border-color: #e5e7eb;*/
        text-align: start;
        align-items: center;
        justify-content: center;
    }

    .hero p {
        margin: 0px 0px 15px 0px;
        text-align: center;
    }

    
    .hero .button {
        /*
        border-style: solid;
        border-color: #fff;
        */
    
        font-size: large;
        font-weight: 600;
    
        width: 150px;
        height: 35px;
        border-radius: 5px;
        margin-top: 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    
}



@media(min-width: 900px) {

    .header {
        height: 120vmin;
    }
}





/* Header CSS 1125px + (full screen) */



@media(min-width: 1125px) {

    .header {
        height: 65vmin;
    }

.header .container {
    /*
    border-style: solid;
    border-color: #fff;
    */
    display: flex;
    flex-direction: row;
    max-width: 70vmax;
    height: 65vmin;
    align-items: center;
    justify-content: space-between;
}


.header .container img {
    width: 500px;
    height: auto;
   /*
    border-style: solid;
    border-color: var(--PrimaryColor2);
    border-radius: 5px;
    */
}


.hero {
    /*
    border-style: solid;
    border-color: #fff;
    */

    padding: 30px 30px 30px 30px;
    height: 100%;
    width: 450px;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    /*
    border-style: solid;
    border-color: #fff;
    */
    text-align: start;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.hero p {
    /*
    border-style: solid;
    border-color: #fff;
    */

    font-size: 18px;
    text-align: start;
}

.hero .button {
    /*
    border-style: solid;
    border-color: #fff;
    */

    font-size: small;
    font-weight: 600;

    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

}

}







/*    Article Section    */


.article {
    height: 60vmin;
}

.article .container {
    border-style: solid;
    border-color: #000;


    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80vmax;
}

.article .container .title {
    border-style: solid;
    border-color: #000;
    height: 15%;
}

.article .container .cont {
    border-style: solid;
    border-color: #000;
    height: 85%;
}

.cont {
    display: flex;
}

.cont .boxes {
    border-style: solid;
    border-color: #000;
}

.boxes,
.box {
    border-style: solid;
    border-color: #000;
}