/* CSS For Odin Landing Page */

/* Attatchments */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');





/* Root*/


:root {
    --PrimaryColor1: #1f2937;
    --PrimaryColor2: #f9faf8;
    --PrimaryColor3: #3882f6;
    --PrimaryColor4: #E5E7EB;
}





/* General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
}


img {
    max-height: 100%;
    width: auto;
}





/* Group Selectors*/

.navbar,
.header {
    background-color: var(--PrimaryColor1);
    color: var(--PrimaryColor2);
}







/* Navigation Bar*/

.navbar {
    height: 80px;
}

.navbar .container {
    max-width: 70vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
/*
    border-style: solid;
    border-color: #fff;
*/
}

.navbar a {
    text-decoration: none;  
    color: var(--PrimaryColor2);
}

.navbar .container ul {
    display: flex;
    list-style-type: none;
    width: 450px;
    font-size: large;
    justify-content: space-between;
    /*
    border-style: solid;
    border-color: #fff;
    */  
}

.navbar .container ul li {
    padding: 10px 10px 10px 10px;
    /*
    border-style: solid;
    border-color: #fff;
    */
}

.navbar .container ul li:hover {
    color: var(--PrimaryColor3);
    border-style: solid;
    border: 0px 0px 0px 0px;
    border-width: 0px 0px 3px 0px;
    border-radius: 5px;
    border-color: var(--PrimaryColor2);
    background-color: var(--PrimaryColor3);
}

.navbar .container .logo {
    font-size: x-large;
    font-weight: 900;
    width: 200px;
    /*
    border-style: solid;
    border-color: #fff;
    */
}



@media(max-width: 0px) {
    .navbar .container {
         max-width: 80vmax;
    }
}


/* Header Base Elements */



.hero a {
    text-decoration: none;  
    color: var(--PrimaryColor2);
    background: var(--PrimaryColor3);
}

.hero a:hover {
    color: var(--PrimaryColor3);
    background-color: var(--PrimaryColor2);
}


.hero .button {
    /*
    border-style: solid;
    border-color: #fff;
    */

    font-size: small;
    font-weight: 600;

    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}



/* Header CSS Smaller screens */


/* Header CSS   */




@media(min-width: 0px) {


    .header {
        height: 100vmin;
    }


    .header .container {
        /*
        border-style: solid;
        border-color: var(--PrimaryColor2);
        */
        max-width: 80vmax;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }

    .header .container img {
        height: auto;
        width: 79vmax;
        border-style: solid;
        border-color: var(--PrimaryColor2);
        border-radius: 5px;
    }

    .header .container .hero {
        /*border-style: solid;
        border-color: #e5e7eb;*/
        
        height: 25vmax;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .hero h1 {
        margin: 20px 0px 10px 0px;
        /*border-style: solid;
        border-color: #e5e7eb;*/
        text-align: start;
        align-items: center;
        justify-content: center;
    }

    .hero p {
        margin: 0px 0px 15px 0px;
        text-align: center;
    }

    
    .hero .button {
        /*
        border-style: solid;
        border-color: #fff;
        */
    
        font-size: large;
        font-weight: 600;
    
        width: 150px;
        height: 35px;
        border-radius: 5px;
        margin-top: 10px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    
}



@media(min-width: 900px) {

    .header {
        height: 120vmin;
    }
}





/* Header CSS 1125px + (full screen) */



@media(min-width: 1125px) {

    .header {
        height: 65vmin;
    }

.header .container {
    /*
    border-style: solid;
    border-color: #fff;
    */
    display: flex;
    flex-direction: row;
    max-width: 70vmax;
    height: 65vmin;
    align-items: center;
    justify-content: space-between;
}


.header .container img {
    width: 500px;
    height: auto;
   /*
    border-style: solid;
    border-color: var(--PrimaryColor2);
    border-radius: 5px;
    */
}


.hero {
    /*
    border-style: solid;
    border-color: #fff;
    */

    padding: 30px 30px 30px 30px;
    height: 100%;
    width: 450px;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    /*
    border-style: solid;
    border-color: #fff;
    */
    text-align: start;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.hero p {
    /*
    border-style: solid;
    border-color: #fff;
    */

    font-size: 18px;
    text-align: start;
}

.hero .button {
    /*
    border-style: solid;
    border-color: #fff;
    */

    font-size: small;
    font-weight: 600;

    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

}

}







/*    Article Section     


.article .container {
    
    border-style: solid;
    border-color: #000;
    

    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80vmax;
    margin-top: 40px;
}

.article .container .title {
     border-style: solid;
    border-color: #000; 
    height: 15%;
}

.title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--PrimaryColor1);
}

.article .container .cont {
    margin-top: 20px;
    
    border-style: solid;
    border-color: #000;
    
    height: 85%;
}

.cont {
    display: flex;
}

.cont .boxes {
    
    border-style: solid;
    border-color: #000;
    
}
*/


@media(min-width: 0px) {

    .title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--PrimaryColor1);   
    }

    .article .container .title {
    /*border-style: solid;
       border-color: #000; */
       height: 10vmax;
       margin: 40px 0 20px 0;
    }
    .article {
        height: 120vmax;
        align-items: flex-start;
        background: var(--PrimaryColor2);
    }

    .title {
        height: 5%;
    }

    .cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: row;
        height: 60%;
    }

    .cont .boxes {
        height: 40vmax;
        width: 35vmax;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .boxes .box {
        border-style: solid;
        height: 28vmax;
        width: 30vmax;
        border-radius: 20px;
        border-color: var(--PrimaryColor3);
    }

    .boxes p {
        text-align: center;
        margin: 2vmax 0 0 0;
        color: var(--PrimaryColor1);
    }

}




@media(min-width: 1100px) {

    .article {
        /*
        border-color: black;
        border-style: solid;
        */

        height: 45vmax;
        background: var(--PrimaryColor2);
    }

    .article .container {
        /*
        border-color: black;
        border-style: solid;
        */

        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--PrimaryColor2);
    }

    .article .container .title {
        /*
        border-color: black;
        border-style: solid;
        */
        
        height: 7vmax;
        display: flex;
        align-items: center;
        margin: 3vmax 0 0 0;
    }

    .article .container .cont {
        /*
        border-color: black;
        border-style: solid;
        */
        flex-wrap: nowrap;
        width: 75vmax;
        height: 25vmax;
        display: flex;
    }

    .cont .boxes {
        /*
        border-color: black;
        border-style: solid;
        */

        height: 100%;

    }

    .cont .boxes .box {
        margin: 10px 10px 10px 10px;
        border-color: var(--PrimaryColor3);
        border-style: solid;
        border-radius: 20px;
        

        height: 220px;
        width: 200px;
    }

    .cont .boxes p {
        /*
        border-style: solid;
        border-color: black;
        */

        color: var(--PrimaryColor1);
        text-align: center;

    margin: 1.5vmax 1.5vmax 1.5vmax 1.5vmax;

    }
}



/* Section */


.section {
    height: 70vmax;
    background-color: var(--PrimaryColor4);
}

.section .container {
    height: 100%;
    /*
    border-color: black;
    border-style: solid;
    */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section .container .quote {
    /*
    border-style: solid;
    border-color: black;
    */

    height: 20vmax;
    width: 50vmax;
}

.section .container .quoted {
    /*
    border-style: solid;
    border-color: black;
    */

    height: 20vmax;
    width: 50vmax;
}

@media(min-width: 0) {

    .section {
        height: 60vmax;
    }

    .section .container {
        flex-wrap: wrap;
    }

    .section .container .quote {

        color: var(--PrimaryColor1);
        font-size: 36px;
        font-style: italic;
        font-weight: lighter;
        width: 70vmax;
        height: 35vmax;

    }

    .section .container .quoted {

        color: var(--PrimaryColor1);
        width: 70vmax;
        height: 5vmax;

        font-size: 25px;
        font-weight: bolder;
        text-align: end;
        
    }
}

@media(min-width: 1125px) {

    .section {
        height: 40vmax;
    }

    .section .container {
        flex-wrap: nowrap;
    }

    .section .container .quote {
        height: 15vmax;
    }
}


/*  Call2Action  */

.call2action {
    height: 40vmax;
}

.call2action .container {
    height: 100%;
    /*
    border-color: black;
    border-style: solid;
    */
    display: flex;
    justify-content: center;
    align-items: center;
}

.call2action .container .bluebox {
    display: flex;
    /*
    border-color: black;
    border-style: solid;
    */
    background-color: var(--PrimaryColor3);
    border-radius: 10px;
}

.bluebox a {
    border-color: var(--PrimaryColor2);
    border-style: solid;

    text-decoration: none;
    background-color: var(--PrimaryColor3);
    color: var(--PrimaryColor2);
    border-radius: 10px;

}

.bluebox a:hover {
    text-decoration: none;
    background-color: var(--PrimaryColor2);
    color: var(--PrimaryColor3);

}

.bluebox .message {
    /*
    border-color: black;
    border-style: solid;
    */
    color: var(--PrimaryColor2);
    display: flex;

}

@media(min-width: 0px) {

    .call2action {
        height: 60vmax;
    }


    .bluebox {
        flex-direction: column;
        height: 370px;
        width: 70vmin;

        align-items: center;
        justify-content: center;


    }

    .bluebox .message {
        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 150px;
        margin: 0px 0px 30px 0px;

    }

    .message h2 {
        /*
        border-color: red;
        border-style: solid;
        */
        margin: 0px 0px 5px 0px;
        width: 300px;
        text-align: center;
    }
    .message p {
        width: 350px;
        text-align: center;
    }

    .bluebox a {
        padding: 10px 60px 10px 60px;
    }
}